<template name="login">
  <input id="login" name="welcomePanel" type="radio" />
  <input id="register" name="welcomePanel" type="radio" checked/>
  <input id="resetPassword" name="welcomePanel" type="radio"/>

  <div id="login-holder">
    <form id="login-form" action="action">
      <div id="login-errorMessage" class="loginErrorMessage"></div>
      <input type="email" id="login-email" placeholder="Email" />
      <input type="password" id="login-password" placeholder="Password" />
      <input type="submit" id="login-button" value="Sign in" />
    </form>
    <label for="register" id="createNewAccount" class="loginToggle">Create New Account</label>
    <label for="resetPassword" id="forgotPassword" class="loginToggle">Forgot Password</label>
  </div>

  <div id="register-holder">
    <form id="register-form" action="action">
      <div id="register-errorMessage" class="loginErrorMessage"></div>
      <input type="email" id="account-email" placeholder="Email" />
      <input type="password" id="account-password" placeholder="Password" />
      <input type="password" id="account-confirm-password" placeholder="Confirm Password" />
      <input type="submit" id="create-account" value="Create an Account" />
    </form>
    <label for="login" id="logIn" class="loginToggle">Or Log In</label>
  </div>

  <div id="password-recover-holder">
    <form id="password-recover-form" action="action">
      <div id="password-errorMessage" class="loginErrorMessage"></div>
      <input type="email" id="password-recover-email" placeholder="Email" />
      <input type="submit" id="send-password-recover-email"value="Send Recovery Email" />
    </form>
    <label for="login" id="logIn" class="loginToggle">Or Log In</label>
  </div>
</template>