#changePasswordPopup {
	top: 20%;
	background-color: #ffe271;
	z-index: 20;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 200px;
	display: none;
}

#changePasswordLabel {
	color: black;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	padding: 15px;
	padding-bottom: 0px;
}

#closeChangePassword {
	cursor: pointer;
}

#changePasswordError {
	color: #d84343;
	text-align: center;
	font-size: 13px;
	line-height: 13px;
	height: 13px;
	margin-top: 5px;
}

#changePasswordWrapper {
	margin-left: auto;
	margin-right: auto;
}

#old-password {
	margin: 10px;
	margin-bottom: 0px;
	margin-top: 5px;
	width: 265px;
	border-radius: 5px 5px 0px 0px;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: none;
}

#new-password {
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 265px;
	border-radius: 0px;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: none;
}

#confirm-new-password {
	margin: 10px;
	margin-top: 0px;
	width: 265px;
	border-radius: 0px 0px 5px 5px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

#change-password {
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 10px;
	width: 240px;
	background-color: black;
	border-radius: 5px;
	color: white;
	outline: none;
	border: none;
	font-size: 18px;
	font-weight: 100;
}