form {
	margin: 0px;
}

#signUp {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

#login-holder {
	width: 260px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

#login-email {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 4px 4px 0px 0px;
	border-left: 2px solid #0893cf;
	border-top: 2px solid #0893cf;
	border-right: 2px solid #0893cf;
}

#login-password {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 0px 0px 4px 4px;
	border-left: 2px solid #0893cf;
	border-bottom: 2px solid #0893cf;
	border-right: 2px solid #0893cf;
	margin-bottom: 10px;
}

#login-button {
	display: block;
	width: 100%;
	background-color: #0893cf;
	font-size: 20px;
	color: black;
	border: none;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
	margin-bottom: 0px;
}

#login-button:focus, #login-button:hover {
	opacity: .9;
	outline: none;
}

button:hover, button:focus {
	outline: none;
	text-decoration: underline;
}

.subtext {
	display: block;
	padding: 10px;
	background-color: transparent;
	color: white;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

#logInButton {
	width: 40%;
}

#createNewAccountButton {
	width: 70%;
	padding: 0px;
	padding-top: 10px;
}

#forgotPasswordButton {
	width: 70%;
	padding-top: 0px;
}

#register-1-holder {
	width: 260px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

#register-2-holder {
	width: 260px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

#password-recover-1-holder {
	width: 260px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

#password-recover-2-holder {
	width: 260px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

#password-recover-email {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 4px;
	border: 2px solid #ffa900;
	margin-bottom: 10px;
}

#account-email {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 4px 4px 0px 0px;
	border-left: 2px solid #44d242;
	border-top: 2px solid #44d242;
	border-right: 2px solid #44d242;
}

#account-password {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 0px;
	border-left: 2px solid #44d242;
	border-right: 2px solid #44d242;
}

#account-confirm-password {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 0px 0px 4px 4px;
	border-left: 2px solid #44d242;
	border-bottom: 2px solid #44d242;
	border-right: 2px solid #44d242;
	margin-bottom: 10px;
}

#sign-up {
	display: block;
	width: 100%;
	background-color: #44d242;
	font-size: 20px;
	color: black;
	border: none;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
}

/** **/

#password-recover-token {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 4px 4px 0px 0px;
	border-left: 2px solid #ffa900;
	border-top: 2px solid #ffa900;
	border-right: 2px solid #ffa900;
}

#password-reset {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 0px;
	border-left: 2px solid #ffa900;
	border-right: 2px solid #ffa900;
}

#confirm-password-reset {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 0px 0px 4px 4px;
	border-left: 2px solid #ffa900;
	border-bottom: 2px solid #ffa900;
	border-right: 2px solid #ffa900;
	margin-bottom: 10px;
}

#reset-password {
	display: block;
	width: 100%;
	background-color: #ffa900;
	font-size: 20px;
	color: black;
	border: none;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
}

/** **/

#create-account {
	display: block;
	width: 100%;
	background-color: #44d242;
	font-size: 20px;
	color: black;
	border: none;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
}

#mit-student {
	width: 244px;
	display: block;
	margin: 0px;
	border-radius: 4px 4px 0px 0px;
	border-left: 2px solid #44d242;
	border-top: 2px solid #44d242;
	border-right: 2px solid #44d242;
}

#tos {
	text-align: center;
	padding-top: 5px;
	line-height: 14px;
	width: 256px;
	height: 40px;
	display: block;
	background-color: white;
	color: grey;
	margin: 0px;
	border-radius: 0px 0px 4px 4px;
	border-left: 2px solid #44d242;
	border-bottom: 2px solid #44d242;
	border-right: 2px solid #44d242;
	margin-bottom: 10px;
}

#tosLabel {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	vertical-align: bottom;
	position: relative;
	display: inline;
	color: #5794ae; /*#0893cf;*/
}

#terms-of-service {
	width: 14px;
    height: 14px;
    padding: 0;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#send-password-recover-email {
	display: block;
	width: 100%;
	background-color: #ffa900;
	font-size: 20px;
	color: black;
	border: none;
	border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
}

#create-account:focus, #create-account:hover {
	opacity: .9;
	outline: none;
}

.loginErrorMessage {
	height: 15px;
	font-size: 15px;
	line-height: 15px;
	margin: 5px;
	color: #d84343;
	text-align: center;
}

/** ----------------------------------------------------------------------------------- **/

#resetPassword-1:checked ~ #login-holder {
	display: none;
}

#resetPassword-1:checked ~ #register-1-holder {
	display: none;
}

#resetPassword-1:checked ~ #register-2-holder {
	display: none;
}

#resetPassword-1:checked ~ #password-recover-2-holder {
	display: none;
}

/** **/

#resetPassword-2:checked ~ #login-holder {
	display: none;
}

#resetPassword-2:checked ~ #register-1-holder {
	display: none;
}

#resetPassword-2:checked ~ #register-2-holder {
	display: none;
}

#resetPassword-2:checked ~ #password-recover-1-holder {
	display: none;
}

/** **/

#register-1:checked ~ #login-holder {
	display: none;
}

#register-1:checked ~ #password-recover-1-holder {
	display: none;
}

#register-1:checked ~ #password-recover-2-holder {
	display: none;
}

#register-1:checked ~ #register-2-holder {
	display: none;
}

/** **/

#register-2:checked ~ #login-holder {
	display: none;
}

#register-2:checked ~ #password-recover-1-holder {
	display: none;
}

#register-2:checked ~ #password-recover-2-holder {
	display: none;
}

#register-2:checked ~ #register-1-holder {
	display: none;
}

/** **/

#login:checked ~ #register-1-holder {
	display: none;
}

#login:checked ~ #register-2-holder {
	display: none;
}

#login:checked ~ #password-recover-1-holder {
	display: none;
}

#login:checked ~ #password-recover-2-holder {
	display: none;
}

/** ----------------------------------------------------------------------------------- **/

#login {
	display: none;
}

#register-1 {
	display: none;
}

#register-2 {
	display: none;
}

#resetPassword-1 {
	display: none;
}

#resetPassword-2 {
	display: none;
}