<template name="changePassword">
  <div id="changePasswordPopup">
        <form id="change-password-form" action="action">
          <div id="changePasswordLabel">Change Account Password<i id="closeChangePassword" class="fa fa-times" style="padding-left: 10px"></i></div>
          <div id="changePasswordError"></div>
          <input type="password" id="old-password" placeholder="Old Password"/><br>
          <input type="password" id="new-password" placeholder="New Password"/><br>
          <input type="password" id="confirm-new-password" placeholder="Confirm New Password"/><br>
          <input type="submit" id="change-password" value="Change Password"/>
        </form>
    </div>
</template>